html, body{
  height: 100%;
  overflow-y: hidden ;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

canvas {
  margin: 10px;
  border: 1px solid black;
}

.tools {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
  position: sticky ;
  left: 10px;
}

#clear-all, #pencil {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.color-field {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.color-field:nth-child(1) {
  background-color: blue;
  border: none;
}
.color-field:nth-child(2) {
  background-color: gold;   
  border: none;
}
.color-field:nth-child(3) {
    background-color: black;
    border: none;
  }

input[type="color"] {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
}

input[type="range"] {
  width: 100px;
}
