body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
    margin: 0px;
}
.iframe-container{
    display: flex;
    justify-content: center;
}

#canvas-viewer {
    border: 1px solid black;
    width: 1280px;
    height: 720px;
}

#data-table {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.session-canvas{
    border: solid black 1px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}


.active .content {
    display: table-row-group;
}