<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <title>Admin</title>
</head>

<body>

    <canvas id="canvas"></canvas>
    <h1>Data from Database</h1>
    <table>
        <thead>
            <tr>
                <th>SessionID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if (drawingData.length === 0) { %>
                <tr>
                    <td colspan="2">No data available</td>
                </tr>
            <% } else { %>
                <% let currentSessionID = null; %>
                <% drawingData.forEach(function(entry, index) { %>
                    <% if (entry.sessionID !== currentSessionID) { %>
                        <% if (currentSessionID !== null) { %>
                            </tbody>
                        <% } %>
                        <tr class="collapsible">
                            <td><strong>SessionID: <%= entry.sessionID %></strong></td>
                            <td><button class="delete-btn" data-session-id="<%= entry.sessionID %>">Delete</button></td>
                        </tr>
                        <tbody class="content">
                        <% currentSessionID = entry.sessionID; %>
                    <% } %>
                    <% if (index === drawingData.length - 1) { %>
                        </tbody>
                    <% } %>
                <% }); %>
            <% } %>
        </tbody>
    </table>
    <script src="../public/client.js"></script>
    <script src="admin.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</body>

</html>