.header {
    position: fixed;
    justify-content: center;
    display: flex;
    gap: 0.2rem;
    font-size: 1.5rem;
  }
  @media screen and (min-width: 768px) {
    .header {
      position: static;
      margin-bottom: .3rem;
    }
  }